<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
  <div >
    <div>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-fire"></span></a>
      <ul class="nav navbar-left center-vertical">
        <li class="nav-item">
          <a *ngIf="authenticationService.isUserLoggedIn()" routerLink="films" class="hvr-underline-reveal" routerLinkActive="active">Films List</a>
        </li>
        <li class="nav-item">
          <a *ngIf="authenticationService.isUserLoggedIn()" routerLink="serie" class="hvr-underline-reveal" routerLinkActive="active">Series List</a>
        </li>
        <li class="nav-item">
          <a *ngIf="authenticationService.isUserLoggedIn()" routerLink="films" class="hvr-underline-reveal" routerLinkActive="active">Anime List</a>
        </li>
        <li><a *ngIf="!authenticationService.isUserLoggedIn()" routerLink="/login" class="hvr-underline-reveal">Login</a></li>
        <li>
          <a *ngIf="authenticationService.isUserLoggedIn()" class="glyphicon glyphicon-log-out" href="/logout" (click)=handleLogout()> {{authenticationService.getLoggedInUserName()}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="card ">
    <div class="card-body ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="flex-rw">
  <div class="container">
  <section class="footer-bottom-section flex-rw">
    <div class="footer-bottom-wrapper">
      <i class="fa fa-copyright" role="copyright">

      </i> 2019 <address class="footer-address" role="company address">@Mindness</address><span class="footer-bottom-rights"> - Some experimental thing - </span>
    </div>
    <div class="footer-bottom-wrapper">
      <a href="" class="generic-anchor" rel="nofollow">Wanna click for nothing ? (terms)</a> | <a href="" class="generic-anchor" rel="nofollow">Don't have any =)</a>
    </div>
  </section>
  </div>
</footer>
