<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Film List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped ">
      <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let film of films | async">
        <td>{{film.firstName}}</td>
        <td>{{film.lastName}}</td>
        <td>{{film.emailId}}</td>
        <td><button (click)="deleteFilm(film.id)" class="btn btn-danger">Delete</button>
          <button (click)="updateFilm(film.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
          <button (click)="filmDetails(film.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
