<div class="panel panel-primary" >
  <div class="panel-heading">
    <h2>Film List
    <button routerLink="/add" class=" hvr-underline-reveal" routerLinkActive="active" mat-fab  id="add-button" matTooltip="Add movie"><i class="material-icons" >playlist_add</i></button>
    </h2>
  </div>
  <div class="panel-body">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table class="table table-striped "  matSort  mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
        <td width=10% mat-cell *matCellDef="let film"> {{film.name}} </td>
      </ng-container>

      <ng-container matColumnDef="affiche">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Affiche </th>
        <td  width=10% mat-cell *matCellDef="let film" ><img class="afficheList" src={{film.affiche}} alt={{film.affiche}}></td>
      </ng-container>

      <ng-container matColumnDef="synopsis">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Synopsis</th>
        <td class="justify" width=45% mat-cell *matCellDef="let film"> {{film.synopsis}} </td>
      </ng-container>

      <ng-container matColumnDef="dateSortie">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Date de sortie </th>
        <td width=14% mat-cell *matCellDef="let film"> {{film.dateSortie}} </td>
      </ng-container>

      <ng-container matColumnDef="note">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Note </th>
        <td  width=6% mat-cell *matCellDef="let film"> {{film.note}} </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td width=5% mat-cell *matCellDef="let film">
          <button mat-icon-button color="primary" (click)="filmDetails(film.id)">
            <mat-icon class="mat-18">reorder</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td width=5% mat-cell *matCellDef="let film">
          <button mat-icon-button color="accent" (click)="updateFilm(film.id)">
            <mat-icon class="mat-18">system_update</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td width=5% mat-cell *matCellDef="let film">
          <button mat-icon-button color="warn" (click)="deleteFilm(film.id)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
